* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 1em;
}

h1 {
  color: Green;
}

#first_inputs {
  border:1px solid grey;
}

#hidden_layer_options {
  border:1px solid grey;
}

#hidden_layer_selection {
  border:1px solid grey;
}

#hidden_layer_inputs {
  border:1px solid grey;
}

p, li {
  font-size: 18px;
}


a {
  text-decoration: none;
}

select {
  position: absolute;
  left: 0;
  width: 7em;
  margin-left: 10em;
}

input {
  position: absolute;
  left: 0;
  width: 6.5em;
  margin-left: 10em;
}
